@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #d5e1ef;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.card {
  background: rgb(255, 255, 255);
  border-radius: 20px;
  text-align: center;
  font-size: 23px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Outfit', sans-serif;
  
}

#first-paragraph {
  font-weight: 700;
}


img {
  border-radius: 20px;
  width: 400px;
  height: 400px;
}

#second-paragraph {
  font-weight: 400;
  font-size: 16px;
  margin-top: -5px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 480px) {
  .main-div {
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  .card img {
    width: 300px;
    height: 300px;
  }
}
